@media screen and (min-width: 993px) {
  .header {
    padding: 2.5VW 7.5VW;
    position: relative;
    &__nav-menu {
      position: absolute;
      top: 1.5VW;
      left: 33vw;
      font-size: 1.1594202898550725VW;
      &__item {
        padding: 2VW;
      }
    }
    &__button {
      font-size: 1.1594202898550725VW;
      padding: 1.0833333333333335VW 2.9166666666666665VW;
    }
    &__logo {
      width: 15%;
      font-size: 1.7391304347826086VW;
    }
  }
  }
.testimonials {
  background: url("../img/testmonials-bg.png") no-repeat;
  background-size: cover;
  background-position: top;
  color: white;
  padding-top: 7.101449275362319VW;
  &__top-text {
    font-size: 2.5514492753623186VW;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
}
  &__bottom-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 6.521739130434782VW;
    &__item {
      padding-bottom: 7.5VW;
      display: flex;
      flex-direction: column;
      width: 28%;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      &__text {
        padding-top: 3VW;
        text-align: justify-all;
        font-size: 1.1594202898550725VW;
        font-style: italic;
        font-family: Lato;
        line-height: 1.6;
      }
    }
  }
  &__bottom-text {
     text-align: center;
     color: #918094;
     padding-left: 14VW;
     padding-right: 14VW;
     padding-bottom: 2vw;
     font-size: 1.0144927536231882VW;
     line-height: 1.5;
     position: relative;
   }
  &__bottom-text:after {
    content: "";
    width: 56.52173913043478VW;
    height: 0.1VW;
    background-color: #918094;
    position: absolute;
    top: 80%;
    left: 18%;
  }
}

