@media  screen and(min-width: 481px) and (max-width: 992px) {
  .presentation-top {
    background-position: 50% 45%;
    background-size: 180%;
    padding-top: 6.510416666666667VW;
    padding-bottom: 62.5VW;
    &__top-text {
      font-size: 6.901041666666667VW;
    }
    &__mid-text {
      font-size: 2.291666666666667VW;
      margin-top: 3.3854166666666665VW;
    }
    &__bottom-text {
      font-size: 1.328125VW;
      margin-top: 2.604166666666667VW;
    }
    &__button {
      padding: 2.994791666666667VW 8.203125VW;
      font-size: 2.0052083333333335VW;
      left: 30%;
    }
  }
  .presentation-bottom {
    padding-top: 5.46875VW;
    font-size: 1.8229166666666667VW;
    &__mid-text {
      padding-top: 12.239583333333332VW;
      font-size: 4.010416666666667VW;
    }
    &__bottom-text {
      padding-top: 4.947916666666666VW;
      font-size: 2.0052083333333335VW;
      padding-left: 10VW;
      padding-right: 10VW;
      text-align: justify-all;
    }
    &__links {
      padding-top: 4.6875VW;
    }
  }
  .feature {
    padding-top: 40px;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 580px;
    &:after {
      left: 20px;
      bottom: 70px;
    }
    &-description{
      order: 1;
      padding-top: 20px;
      width: 100%;
      .feature-item {
        flex-direction: column;
        align-items: center;
        &-text {
          text-align: center;
          padding-right: 20px;
          padding-left: 20px;

        }
        &-icon{
          margin-bottom: 20px;

        }
      }


    }
    &-title {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 20px;
    }
  }
  .testimonials {
    &__top-text {
      font-size: 5.2VW;
    }
    &__bottom-block {
      padding-top: 11.71875VW;
      &__item {
        width: 45%;
        &__text {
          font-size: 2.083333333333333VW;
        }
      }
    }
    &__bottom-text {
      text-align: center;
      color: #918094;
      padding-left: 6.5VW;
      padding-right: 6.5VW;
      padding-bottom: 2vw;
      font-size: 1.8229166666666667VW;
      line-height: 1.5;
    }
    &__bottom-text:after {
      width: 56.52173913043478VW;
      height: 0.1VW;
      top: 100%;
      left: 22%;
    }
  }
}
