.container-logo-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  padding: 2.864583333333333VW;;
  background-color: #27262a;
  font-family: "Montserrat";
  font-weight: bold;
  color: #8d81ac;
  &__nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 2.083333333333333VW;
    &__item {
      padding: 2.864583333333333VW 3.125VW 0 ;
      &__link {
        text-decoration: none;
        color: #8d81ac;
      }
    }
  }
  &__logo {
    font-family: "Lato";
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-evenly;
    font-size: 3.125VW;
  }
  &__button {
    padding: 1.5625VW 4.557291666666666VW;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.083333333333333VW;
    border-radius: 5.31vw;
    background-color: #8d81ac;
    color: white;
  }
}


