
@media  screen and (max-width: 480px) {
  .container-logo-button {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15%;
  }
    .header {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      &__logo{
        &__text {
          display: none;
        }
        &__img {
          height: 12.812499999999998VW;
          width: 100%;
      }
      }
      &__nav-menu {
        z-index: 2;
        display: flex;
        background-color: #333333;
        position: absolute;
        top: 100%;
        flex-direction: column;
        width: 90%;
        &__item{
          box-sizing: border-box;
          font-size: 5.959375VW;
          align-self: flex-start;
          border-bottom: 0.3vw #3b3b3b solid;
          width: 100%;
          position: relative;
          &__link {
            padding-top: 9.6875VW;
            padding-left: 10VW;
            padding-bottom: 9.6875VW;
            color: white;
            display: block;
            width: 100%;

            &:hover {
              color: #8d81ac;
              &::after {
                content: "";
                position: absolute;
                top: 20%;
                left: 0;
                width: 2.5VW;
                height: 16.5625VW;
                background-color: #8d81ac;
              }
            }
          }

        }
        }
      &__toggler-btn {
        margin-top: 3vw;
        width: 8.125VW;
        height: 6.5625VW;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        &__line {
          background-color: white;
          width: 100%;
          height: 0.625VW;
        }
        &__line:nth-child(1) {
          width: 70%;
        }
      }
      &__button {
        padding: 3.75VW 7.5vw;
        font-size: 4.0625VW;
      }
    }
  .presentation-top {
    background-position: 50% 45%;
    background-size: 450%;
    padding-top: 13.4375VW;
    padding-bottom: 132.5VW;
    &__top-text {
      font-size: 11VW;
    }
    &__mid-text {
      padding-left: 17%;
      padding-right: 17%;
      line-height: 2em;
      text-align: justify-all;
      text-transform: capitalize;
      font-size: 5VW;
      margin-top: 3.3854166666666665VW;
    }
    &__bottom-text {
      font-size: 3.2093749999999996VW;
      margin-top: 6.25VW;
    }
    &__button {
      padding: 4.6875VW 9.6875VW;
      font-size: 4.124999999999999VW;
      top: 96%;
      left: 15%;
      border-radius: 6vw;
    }
  }
  .presentation-bottom {
    padding-top: 9.0625VW;
    &__mid-text {
      padding-top: 22.5VW;
      font-size: 5.959375VW;
      padding-left: 12.5VW;
      padding-right: 12.5VW;
      line-height: 1.5em;
    }
    &__bottom-text {
      padding-top: 7.187499999999999VW;
      font-size: 3.21875VW;
      padding-left: 8.4375VW;
      padding-right: 8.4375VW;
    }
    &__links {
      flex-wrap: wrap;
      font-size: 3vw;
      padding-left: 20vw;
      padding-right: 20vw;
      font-weight: bold;
      &__link {
        margin-top: 5vw;
        margin-left: 2vw;
      }
    }
  }
  .hide {
    display: none;
  }
  .present {
    padding: 80px 20px;
    &-title{
      font-size: 2em;
    }

  }
  .feature {
    padding-top: 40px;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 580px;
    &:after {
      bottom: 70px;
      left: 20px;
    }
    &-description{
      order: 1;
      padding-top: 20px;
      width: 100%;
      .feature-item {
        flex-direction: column;
        align-items: center;
        &-text {
          text-align: center;
          padding-right: 20px;
          padding-left: 20px;

        }
        &-icon{
          margin-bottom: 20px;

        }
      }


    }
    &-title {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 20px;
    }
  }
  .pricing-block{
    padding-top: 70px;
    .pricing-title {
      font-size: 2.5em;
    }
    .pricing-plans {
      padding-top: 60px;
      justify-content: center;
    }
  }
  .testimonials {
    &__top-text {
      font-size: 10VW;
      padding-left: 8.28125VW;
      padding-right: 8.28125VW;
      line-height: 1.6;
    }
    &__bottom-block {
      position: relative;
      &__item {
        width: 100%;
        &__text {
          font-size: 5VW;
          padding-left: 12.5VW;
          padding-right: 12.5VW;
        }
      }
    }
    &__bottom-text {
      display: none;
    }
    &__bottom-block :after {
      content: "";
      width: 87.5VW;
      height: 0.625VW;
      background-color: #918094;
      position: absolute;
      top: 100%;
      left: 6.5%;
    }
  }
}
