.presentation-top {
  padding-top: 5VW;
  padding-bottom: 40.583333333333336VW;
  text-align: center;
  background-image: url("../img/presentationBackground.png");
  background-size: cover;
  position: relative;
  &__top-text {
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 5VW;
  }
  &__mid-text {
    color: #8d81ac;
    font-family: 'Lato';
    font-size: 1.8333333333333333VW;
    margin-top: 1.5VW;
  }
  &__bottom-text {
    font-family: 'Montserrat';
    font-size: 1VW;
    color: rgb(132, 142, 151);
    margin-top: 1.5VW;
  }
  &__button {
    padding: 1.9166666666666665VW 5.25VW;
    background-color: #8d81ac;
    text-decoration: none;
    color: white;
    font-size: 1.2916666666666667VW;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 5.31vw;
    position: absolute;
    top: 95%;
    left: 36.5%;
  }
}
