.presentation-bottom {
  padding-top: 4vw;
  text-align: center;
  font-family: 'Montserrat';
  color: #848e97;
  &__mid-text {
    padding-top: 1.5833333333333335VW;
    color: #635c73;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__bottom-text {
    padding-top: 3.166666666666667VW;
    color: #5b5b5b;
    font-size: 1.2833333333333334VW;
    padding-left: 15vw;
    padding-right: 15vw;
    line-height: 2em;
  }
}
