.present {
  padding: 100px 0;
  text-align: center;
  &-title {
    font-family: Montserrat, sans-serif;
    margin-bottom: 40px;
    font-size: 3em;
    padding: 0 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #635c73;
  }
  &-text {
    max-width: 900px;
    margin: 0 auto 40px;
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #323232;
  }
  .github {
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: bold;
      &-button {
        display: flex;
        border: #c3c3c3 1px solid;
        border-radius: 8px;
        margin-right: 20px;
        margin-bottom: 10px;
        &-left {
          background-color: #f8f8f8;
          border-right: #d5d5d5  1px solid;
          padding: 7px 10px;
          border-radius: 8px 0 0 8px;
          display: flex;
        }
        &-right {
          padding: 7px 10px;
        }
      }
  }
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.feature-block {
  background: #f4f4f4;
  overflow-x: hidden;
}
.feature {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 150px;
    left: calc(50% + 20px);
    width: 954px;
    height: 496px;
    background-image: url("../img/edito2r.png");
    background-repeat: no-repeat;
  }

  &-title {
    font-family: Montserrat, sans-serif;
    font-size: 2.5em;
    padding-left: 30px;
    font-weight: bold;
    color: #8d81ac;
    text-align: center;
  }

  &-description {
    order: -1;
    width: 50%;
    .feature-item {
      display: flex;
      margin-bottom: 40px;
      align-items: center;

      &-icon {
        background: url("../img/icons_sprite.png");
        width: 111px;
        height: 84px;
        margin-right: 20px;

        &.icon-1 {
          background-position-y: 0
        }

        &.icon-2 {
          background-position-y: 84px
        }

        &.icon-3 {
          background-position-y: 168px
        }

        &.icon-4 {
          background-position-y: 252px
        }
      }

      &-text {
        flex-basis: 60%;

        h4 {
          font-family: Montserrat, sans-serif;
          margin-bottom: 23px;
          color: #323232;
          font-size: 1em;
        }

        p {
          color: #848e97;
          font-size: 0.9em;
          font-family: Montserrat, sans-serif;
          line-height: 1.5em;
        }
      }
    }

  }
}
.pricing {
  background: #4b3b4e url("../img/pricing.png") no-repeat right;

  &-block {
    font-family: "Montserrat", sans-serif;
    padding-top: 100px;
    max-width: 1120px;
  }
  &-title {
    text-align: center;
    font-weight: bold;
    font-size: 3.5em;
    padding: 20px;
    color: #fff;
  }

    &-plans {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 100px;
      padding-bottom: 100px;
      &-normal {
        text-align: center;
        width: 250px;
        margin-bottom: 30px;
        &-plan-header {
          background: rgba(255, 255, 255, 0.15);
          .plan-title {
            color: #fff;
            padding: 30px 0;
            font-size: 1.5em;
            vertical-align: middle;
            text-transform: uppercase;
          }
      }
      &-plan-body {
        position: relative;
        background: rgba(255, 255, 255, 0.1);
        height: 350px;
        .normal-price {
          padding-top: 30px;
          padding-bottom: 20px;
          font-weight: bold;
          color: #fff;
          font-size: 4em;
          .dollar {
            font-weight: normal;
          }
        }
        .per {
          position: relative;
          padding-bottom: 70px;
          text-transform: uppercase;
          font-size: 1em;
          color: rgba(255, 255, 255, 0.3);
          &::after {
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translate(-50%);
            content: "";
            width: 60px;
            height: 5px;
            background: #8d81ac;
          }
        }
        .license {
          &-txt{
            line-height: 1.4em;
            color: #fff;
          }
        }

      }
    }
      &-highlight {
        text-align: center;
        width: 300px;
        margin-bottom: 30px;
        &-plan-header {
          background: rgba(0, 0, 0, 0.3);
          .plan-title {
            color: #fff;
            padding: 40px 0;
            font-size: 1.5em;
            vertical-align: middle;
            text-transform: uppercase;
          }
        }
        &-plan-body {
          position: relative;
          background: rgba(0, 0, 0, 0.15);
          height: 400px;
          .highlight-price {
            padding-top: 30px;
            padding-bottom: 20px;
            font-weight: bold;
            color: #fff;
            font-size: 4em;
            .dollar {
              font-weight: normal;
            }
          }
          .per {
            position: relative;
            padding-bottom: 80px;
            text-transform: uppercase;
            font-size: 1em;
            color: rgba(255, 255, 255, 0.3);
            &::after {
              position: absolute;
              top: 50px;
              left: 50%;
              transform: translate(-50%);
              content: "";
              width: 60px;
              height: 5px;
              background: #8d81ac;
            }
          }
          .license {
            &-txt{
              line-height: 1.4em;
              color: #fff;
            }
          }

        }
      }
}
  &-button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    font-size: 1.2em;
    padding: 12px 40px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 30px;

  }
}